.App {
  text-align: center;
  font-family: sans-serif;
}

.ContainerA{
  background-color: beige;
  border-radius: .7rem;
  text-align: center;
  color: black;
  height: 90px;
  width: 600px;
  box-shadow: 2px 2px 5px #bcbcbc, 
            -3px -3px 6px #dfdfdf;
}

.ContainerB{
  background-color: #63bcff;
  border-radius: .5rem;
  text-align: center;
  margin-top: 30px;
  font-weight: 300;
  color: black;
  height: 60px;
  width: 480px;
  box-shadow: 2px 2px 5px #598095, 
            -3px -3px 6px #cacdcd;
}

.select{
  background-color: #63bcff;
  border-radius: .9rem;
  position: absolute;
  margin-left: 420px;
  height: 27px;
  width: 96px;
  top: -27px;

  box-shadow: 2px 2px 5px #598095, 
            -3px -3px 6px #cacdcd;
}

.sort{
  background-color: transparent;
  position: absolute;
  border-radius: 1em;
  outline: none;
  left: 63px;
  top: 3px;
}

.Add{
  background-color: transparent;
  margin-top: 15px;
  border: none;
  height: 30px;
  width: 72px;
}

.AmplifySignOut {
  position: absolute;
  left: 30px;
  bottom: 15px;
  outline: none;
  resize: 80%;
  box-shadow: 2px 2px 5px #bcbcbc, 
            -3px -3px 6px #dfdfdf;
}

.search{
  position: absolute;
  margin-left: 420px;
  top: 18px;
  outline: none;
}

.submit{
  background-color: #0051ff;
  border-color: #0051ffb3;
  color: azure;
  border-radius: .9em;
  position: absolute;
  height: 45px;
  width: 150px;
  right: 60px;
  bottom: 42px;
  outline: none;
}

.bar {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 60px;
  left: 90px;
}

.user{
  position: relative;
  border-radius: 2em;
  height: 60px;
  width: 60px;
  left: 210px;
  margin-right: 36px;
  top: -42px;
}

.logo{
  position: relative;
  height: 54px;
  width: 54px;
  right: 72px;
  bottom: 42px;
  border-radius: 2em;
  box-shadow: 2px 2px 5px #bcbcbc, 
            -3px -3px 6px #dfdfdf;
}

.navButton {
  background-color: #63bcff;
  border-color: #9ecaff;
  text-align: center;
  position: relative;
  border-radius: 1em;
  margin-left:15px;
  outline: none;
  height: 39px;
  width: 90px;
  right: 54px;
  top: -36px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
